body {
    font-family: 'Open Sans Condensed', sans-serif;
	background-color: #000;
    color: #979797;
    font-size: 14px;
}

h2.section {
    margin: 28px 0;
}

h2.with-line {
    border-bottom: solid 1px #eee;
    padding-bottom: 2px;
}

h2 i {
    margin-right: 10px;
    vertical-align: top;
}

h2 .feed-icons {
    float: right;
    margin-right: 10px;
}

h2 .feed-icons .feed-icon {
    color: #999;
    transition: .5s all;
}

.btn {
    border-radius: 0;
}

.user-avatar {
    position: relative;
}

.user-avatar img {
    display: block;
    width: 100%;
    border: solid 3px #464646;
    background-color: #464646;
    margin-bottom: 5px;
    border-radius: 50%;
}

.alert-fixed {
    position:fixed; 
    top: 50px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.see-more {
    float: right;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 2;
}

.see-more i {
    font-size: 18px;
    margin: -2px 0 0 7px;
    vertical-align: middle;
    transition: all .5s;
}
#content {
	padding-top:50px;
}
/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination > li > a, 
.pagination > li > span {
   	background-color: transparent;
    border: none;
	font-size: 18px;
	color: #999999;
}

.pagination-top,
.pagination-bottom {
    text-align: center;
}
.pagination i {
    font-size: 20px;
	margin-top: 2px;
}
.pagination>.disabled>span, 
.pagination>.disabled>span:hover, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>a, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>a:focus {
    color: #999999;
    background-color: transparent;
}
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: transparent;
    border-color: #dddddd;
}
/* ==========================================================================
   Panels
   ========================================================================== */
.panel {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-default {
    border-color: #dddddd;
}
.panel .panel-heading {
    text-transform: uppercase;
	font-weight:bold;
    padding: 8px;
}
/* ==========================================================================
   Navbar
   ========================================================================== */
.navbar {
	background: rgba(0,0,0,1);
	height: 50px;
	transition: background .5s;
	border:none;
}
.navbar.transparent {
	background: rgba(0,0,0,0.6);
}
.navbar-nav li>a {
    padding-left: 20px;
    padding-right: 20px;
	color: #fff;
}
.navbar-nav li.active>a {
	color: #ed1c24;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}
.navbar-nav li>a:hover,
.navbar-nav li>a:active,
.navbar-nav li>a:focus {
    color: #ed1c24;
    background: none !important;
}
.navbar-nav.navbar-right .dropdown-toggle {
	height: 32px;
    line-height: 30px;
    padding: 0 15px;
	font-weight:bold;
    margin-top: 8px;
}
.navbar-nav.navbar-right .dropdown-toggle .avatar {
    border-radius: 50%;
    height: 30px;
    margin-right: 10px;
}
/* ==========================================================================
   User Menu
   ========================================================================== */
#user-menu {
    background: rgba(0,0,0,0.6);
	border: 1px solid rgba(0, 0, 0, .0);
	border-radius:0px;
    position: absolute;
    right: -1px;
    top: 49px;
    transition: all .5s;
}
#user-menu ul {
    padding: 0;
    margin: 0 0;
    list-style: none;
}
#user-menu ul li {
    text-align: right;
    white-space: nowrap;
}
#user-menu ul li:before, 
#user-menu ul li:after {
    content: " ";
    display: table;
}
#user-menu ul li a {
    padding: 5px 20px 5px 20px;
    line-height: 15px;
    color: #fff;
    display: block;
}
#user-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #444;
}

.shadow-base {
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#4D000000', GradientType=0);
}
/* ==========================================================================
   Posters
   ========================================================================== */
.posters {
    margin-bottom: 20px;
}
.posters.no-top {
    margin-top: -20px;
}
.posters>div {
    margin-top: 20px;
}
.posters .poster {
    border: solid 1px #eee;
    border-bottom: none;
    position: relative;
    overflow: hidden;
}
.posters .poster img {
    width: 100%;
	height:auto;
}
.posters .poster .real {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.posters>div .titles {
    margin: 0 0 5px 0;
}
.posters>div h3, 
.posters>div h4 {
    text-align: center;
    margin: 0;
    padding: 0;
}
.posters>div h3 {
    font-size: 16px;
    margin-top: 10px;
    overflow: hidden;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.posters>div h3 .main-title-sxe {
    font-weigth:bold
}
.posters>div h4 {
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    height: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ==========================================================================
   Fanarts
   ========================================================================== */
.fanarts .fanart {
    background-color: #1d1d1d;
    position: relative;
    overflow: hidden;
}
.fanarts .fanart img {
    width: 100%;
}
.fanarts .fanart .real {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* ==========================================================================
   Results Top Wrapper
   ========================================================================== */
#results-top-wrapper {
    position: relative;
    text-align: center;
    padding: 90px 0 30px;
    background-color: transparent;
}
#results-top-wrapper h1 {
    color: #fff;
    margin: 0;
    text-shadow: 0 0 20px black;
}
/* ==========================================================================
   Poster BG Wrapper
   ========================================================================== */
.poster-bg-wrapper, 
.poster-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.poster-bg-wrapper {
    background-color: #000;
}
.poster-bg {
    background-size: 240px 240px;
    opacity: .3;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
/* ==========================================================================
   Main Wrapper
   ========================================================================== */
#main-wrapper {
    background-color: white;
    padding: 10px 0 30px 0px;
}
#main-wrapper .row.fanarts {
    margin: 20px 0 0 0;
}
#main-wrapper h2 {
    text-transform: uppercase;
    color: #959595;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 0 0;
}
#main-wrapper .under-info .titles {
    background-color: #fafafa;
    margin: 0 0 0 -20px;
    padding: 10px 0 8px 20px;
}
#main-wrapper .under-info h3 {
    font-size: 20px;
    margin: 0;
}
#main-wrapper .under-info h3 a {
    color: #000;
}
.episode-stats {
    float: right;
    font-size: 13px;
    margin: 10px 20px 0 20px;
    font-weight: normal;
}
.episode-stats a {
    color: #009edf !important;
    text-decoration: none;
    transition: all .5s;
}
.episode-stats a:not(:first-child) {
    margin-left: 15px;
}
.episode-stats a i {
    font-size: 16px;
    margin-right: 5px;
}
.episode-stats a .fa-user {
    font-size: 16px;
}
.episode-stats a .fa-check {
    font-size: 20px;
}
#main-wrapper .under-info h3 a .main-title-sxe {
    color: #F27C21;
}
#main-wrapper ul.additional-stats {
    margin: 0 !important;
    font-size: 13px;
    list-style-type: none;
    padding: 0;
}
#main-wrapper .under-info .overview {
    margin-top: 15px;
}
/* ==========================================================================
   Post
   ========================================================================== */
.post-header {
    border-bottom: 1px solid #e6e6e6;
    padding: 60px 15%;
    margin: 0;
}
.post-header h1 {
    margin: 0;
}
.post-image {
    margin: 20px 0;
}
.post-image img {
    height: auto !important;
    width: 100%;
}
.post-inner {
    border-bottom: 1px solid #dedede;
}
.post-inner .post-meta {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.post-content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.post-content p {
    font-weight: normal;
    line-height: 150%;
    text-align: justify;
}
/* ==========================================================================
   Cover Wrapper
   ========================================================================== */
#cover-wrapper {
    background-color: black;
    height: 550px;
    color: white;
    position: relative;
}
#cover-wrapper .full-bg.enabled {
    opacity: 1;
}
#cover-wrapper .full-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-position: 50% 10%;
    opacity: 0;
    transition: all 1s;
}
#cover-wrapper .shadow {
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC000000', endColorstr='#00000000', GradientType=1);
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#cover-wrapper>.container {
    position: relative;
}
#cover-wrapper #avatar-wrapper {
    text-align: center;
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    z-index: 1;
}
#cover-wrapper #avatar-wrapper .avatar {
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #fff;
    height: 100px;
    width: 100px;
}
#cover-wrapper #avatar-wrapper h1 {
    margin: 15px 0;
    text-shadow: 0 0 20px black;
}
#cover-wrapper #avatar-wrapper h1 a {
    color: #fff;
}
#cover-wrapper #avatar-wrapper h3 {
    text-shadow: 0 0 20px black;
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}
#cover-wrapper #avatar-wrapper h3 span {
    font-weight: bold;
}
#cover-wrapper #avatar-wrapper h3 .fa {
    margin: 0 5px 0 10px;
}
/* ==========================================================================
   Links Wrapper
   ========================================================================== */
#links-wrapper {
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
#links-wrapper a.selected {
    font-weight: bold;
    color: #ed1c24;
}
#links-wrapper a {
    padding: 0 20px;
    line-height: 40px;
    display: inline-block;
}
#links-wrapper a, 
#links-wrapper i {
    color: #fff;
}
/* ==========================================================================
   Recent Wrapper
   ========================================================================== */
#recent-wrapper {
    padding-bottom: 30px;
	background-color: #fff;
}
#recent-wrapper h2 {
    text-transform: uppercase;
    color: #959595;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 0 0;
}
#recent-wrapper .posters .titles-link {
    color: #333;
}
#recent-wrapper .posters>div .titles h3 {
    font-size: 14px;
    height: 14px;
}
/* ==========================================================================
   Footer
   ========================================================================== */
footer {
    background: #000;
    color: #fff;
    padding: 20px;
	font-weight:bold;
    font-size: 13px;
}

footer .links {
    margin-bottom: 20px;
}
footer .links:before, 
footer .links:after {
    content: " ";
    display: table;
}
footer .links:after {
    clear: both;
}
footer .links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: calc(100% - 150px);
}
footer .links ul:before, 
footer .links ul:after {
    content: " ";
    display: table;
}
footer .links ul:after {
    clear: both;
}
footer .links ul li {
    float: left;
    padding: 0 30px 0 0;
    text-transform: uppercase;
}
footer a {
    color: #fff;
}
footer .links .social {
    float: right;
}
footer .links .social .fa {
    font-size: 16px;
    margin-left: 10px;
    vertical-align: middle;
}
footer .copyright {
    color: #777;
    font-size: 11px;
}
footer .copyright:before, 
footer .copyright:after {
    content: " ";
    display: table;
}
footer .copyright:after {
    clear: both;
}
footer .copyright .trakt {
    float: left;
    white-space: nowrap;
}
footer .copyright .trakt .logo {
    margin-right: 13px;
    opacity: .3;
}
footer .copyright .amazon {
    display: block;
    float: right;
    color: #777;
    white-space: nowrap;
    transition: all .5s;
}
footer .copyright .amazon .icon {
    float: right;
    margin-left: 10px;
}
footer .copyright .amazon .icon .fa {
    font-size: 30px;
}
footer .copyright .amazon .text {
    float: right;
    text-align: right;
}